* {
    margin: 0;
}

.header__icon{
    object-fit: contain;
    height:100px;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
}